[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,RST,S,W
ignore = E023,E501,W503
max-complexity = 10
max-line-length = 80
application-import-names = template_project,tests
import-order-style = google
per-file-ignores =
	tests/*:S101,ANN,D100,D103,D104
	noxfile.py:ANN,D100,D103
exclude = .nox
